<launch>
    <group ns="/local_kheperaiv_net_1">
        <node name="coms_net_1" pkg="coms" type="net.py" output="screen">
            <param name="environment" value="sim" />
            <param name="ip" value="192.168.0.1" />
        </node>
    </group>
    <group ns="/local_kheperaiv_net_2">
        <node name="coms_net_2" pkg="coms" type="net.py" output="screen">
            <param name="environment" value="sim" />
            <param name="ip" value="192.168.0.2" />
        </node>
    </group>
</launch>
