<launch>

    <arg name="config_file" default="argos_demo.yaml" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="launch_file" default="$(find example)/launch/argos.launch" doc="model type [burger, waffle, waffle_pi]"/>

    <group ns="/robot_0">
        <node name="coms_net_0" pkg="coms" type="net.py" output="screen">
            <param name="environment" value="sim" />
            <param name="ip" value="192.168.0.1" />
            <param name="launch" value="$(arg launch_file)"/>
            <param name="config" value="$(arg config_file)"/>
        </node>
    </group>
    <group ns="/robot_1">
        <node name="coms_net_1" pkg="coms" type="net.py" output="screen">
            <param name="environment" value="sim" />
            <param name="ip" value="192.168.0.2" />
            <param name="launch" value="$(arg launch_file)"/>
            <param name="config" value="$(arg config_file)"/>
        </node>
    </group>
</launch>
